*.svp
*.pyc
*~
ucli.key

csrc/*
simv.daidir/*
*.swp
.__afs*


*.bak
*.log
vivado*
lab2/*
*webtalk*
*/csrc/
*/DVEfiles/
*/simv*
*.vpd
audio_test/
audio_test_hdl/
test/
zedboard_audio-master/hdl/64/



Desktop.ini

